body{
   font-family: Times, 'Times New Roman', serif;
}

.Principal {
    border: black 1px solid;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 10px 10px 10px 10px;
    
}

h1 {
    margin: 0px;
}

p[id] {
    margin: 1em 1em 2em 0em;
}

#n1 {
    text-shadow: 2px 2px 3px gray; 
}

#n2 {
    text-shadow: 5px 4px 2px gray; 
}

#n3 {
    text-shadow: 8px 8px 2px gray; 
}

#n4 {
    text-shadow: 16px 14px 2px gray; 
}